{{template "base" .}}

{{define "title"}}F1 Setup Helper{{end}}

{{define "content"}}
    <div class="container">
        hello
    </div>
{{end}}


{{define "css"}}

{{end}}


{{define "js"}}

{{end}}