{{template "base" .}}

{{define "title"}}F1 Setup Helper{{end}}

{{define "content"}}
    <div class="container">

        <div class="row">
            <h1 class="mb-4">F1 Setup Helper</h1>
        </div>

        <div class="row">
            <div class="btn-group mb-3" id="part-sections"></div>
        </div>

        <div class="row">
            <div class="btn-group" id="setup-buttons">
                <button class="btn btn-success" id="apply-button" onclick="applySetting(); hideApply()" hidden>Apply</button>
                <button class="btn btn-danger" id="revert-button" onclick="revertSetting(); hideApply()" hidden>Revert</button>
            </div>
        </div>

        <div class="row">
            <div id="parts-tables"></div>
        </div>

        <div class="btn-group">
            <button class="btn btn-outline-light" onclick="downloadSetup()">Export Setup</button>
            <button class="btn btn-outline-light" onclick="getSetup()">Load Setup</button>
        </div>
        <input type="file" id="setup-input" hidden>

    </div>

    <hr>

    <div class="container">

        <div class="row">
            <h2 class="mb-3">Adjustments</h2>
        </div>

        <div class="row">
            <div class="btn-group mb-1" id="condition-1"></div>
        </div>
        <div class="row">
            <div class="btn-group" id="condition-2"></div>
        </div>

        <div class="row mt-4" id="suggestions"></div>

    </div>
{{end}}


{{define "css"}}
    <style>
        /* Tables */
        .part-name {
            width: 30%;
            text-align: start;
        }
        .suggestion-part-name {
            width: 40%;
        }
        .part-buttons {
            width: 10%
        }
        .suggestion-apply-button {
            width: 20%
        }
        .part-progress-bars {
            width: 25%
        }
        .suggestion-progress-bars {
            width: 25%
        }
        .part-setup-value {
            width: 5%
        }
        .part-desc {
            width: 30%;
            text-align: end;
        }


        /* Progress Bars */
        .increase-setup {
            background-color: limegreen;
        }

        .decrease-setup {
            background-color: red;
        }

    </style>
{{end}}


{{define "js"}}

    <script src="/static/js/f1setup/adjustments/menu_buttons.js"></script>
    <script src="/static/js/f1setup/adjustments/suggestions.js"></script>

    <script src="/static/js/f1setup/setup/file_handlers.js"></script>
    <script src="/static/js/f1setup/setup/menu_buttons.js"></script>
    <script src="/static/js/f1setup/setup/part_tables.js"></script>
    <script src="/static/js/f1setup/setup/progress_bars.js"></script>

    <script src="/static/js/f1setup/helpers.js"></script>

    <script>

        activateNav('nav-f1setup')

        const is_mobile = window.matchMedia("only screen and (max-width: 768px)").matches

        const parts = JSON.parse({{index .StringMap "parts_list"}})
        const part_group_names = JSON.parse({{index .StringMap "part_group_names"}})
        const setup_suggestions = JSON.parse({{index .StringMap "setup_suggestions"}})

        let setup = {}

        for (const group_name in parts) {
            for (const part_name in parts[group_name]) {
                setup[part_name] = parts[group_name][part_name]['default']
            }
        }

        buildButtons()
        buildTables()
        showTableGroup('aero')
        firstConditionButtons()

    </script>

{{end}}