{{template "base" .}}

{{define "content"}}
    <main class="container home">
        <div class="row">
            <div class="col">
                <h1>Welcome to Meisa's Tools</h1>
            </div>
        </div>
        <div class="row">
            <div class="col my-3 pt-3">
                <p>The home of all the tools Meisa has created and will create</p>
            </div>
        </div>
    </main>

{{end}}

{{define "js"}}
    <script>
        activateNav('nav-home')
    </script>
{{end}}