{{template "base" .}}

{{define "title"}}Stardew Tools{{end}}

{{define "content"}}
    <div class="container">
        <div id="write-here">

        </div>

        <h1>Bundle Items</h1>

        <div class="row mt-4">
            <div class="col">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addItemModal">Add Item</button>
            </div>
        </div>

        <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content bg-dark">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
                    </div>
                    <div class="modal-body bg-dark">
                        <form action="" method="post" id="add-item">
                            <label for="add-item-name">Item Name</label>
                            <input type="text" class="form-control bg-dark text-white" id="add-item-name">

                            <label for="add-item-rarity">Item Rarity</label>
                            <input type="text" class="form-control bg-dark text-white" id="add-item-rarity">

                            <label for="add-item-bundle-name">Bundle Name</label>
                            <input type="text" class="form-control bg-dark text-white" id="add-item-bundle-name">
                        </form>

                        <div class="alert alert-success mt-3" role="alert" id="item-success" hidden>Added Item</div>
                    </div>
                    <div class="modal-footer bg-dark">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="clearAddItem()">Close</button>
                        <button type="button" class="btn btn-success" onclick="addItem()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <table class="table table-dark table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Item</th>
                        <th scope="col">Rarity</th>
                        <th scope="col">Bundle Name</th>
                    </tr>
                    </thead>
                    <tbody id="item-list">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        let table_item_list = document.getElementById('item-list')

        let form = document.getElementById("add-item")
        let form_data = new FormData(form)
        form_data.append("csrf_token", "{{.CSRFToken}}")

        fetch('stardew-json', {
            method: "post",
            body: form_data,
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                for (const index in data) {
                    let bundle_item = data[index]
                    table_item_list.innerHTML += `
                        <tr>
                            <td>${bundle_item.id}</td>
                            <td>${bundle_item.item_name}</td>
                            <td>${bundle_item.rarity}</td>
                            <td>${bundle_item.bundle_name}</td>
                        </tr>
                    `
                }
            })

        function validateInput(input_element) {
            if (input_element.value.length < 1) {
                console.log('invalid')
                input_element.classList.remove('border-success')
                input_element.classList.add('border-danger')
                return false
            }

            console.log('valid')
            input_element.classList.remove('border-danger')
            input_element.classList.add('border-success')
            return true
        }

        function addItem() {
            let item_name = document.getElementById('add-item-name')
            let item_rarity = document.getElementById('add-item-rarity')
            let bundle_name = document.getElementById('add-item-bundle-name')

            let valid_inputs = validateInput(item_name) && validateInput(item_rarity)

            let success_alert = document.getElementById('item-success')

            if (valid_inputs) {
                success_alert.removeAttribute('hidden')
            }
        }

        function clearAddItem() {
            let item_name = document.getElementById('add-item-name')
            let item_rarity = document.getElementById('add-item-rarity')
            let bundle_name = document.getElementById('add-item-bundle-name')

            item_name.value = ''
            item_rarity.value = ''
            bundle_name.value = ''
            
            item_name.classList.remove('border-success')
            item_rarity.classList.remove('border-success')
            bundle_name.classList.remove('border-success')
            
            item_name.classList.remove('border-danger')
            item_rarity.classList.remove('border-danger')
            bundle_name.classList.remove('border-danger')
            
            let success_alert = document.getElementById('item-success')
            success_alert.setAttribute('hidden', '')
        }
    </script>
{{end}}