{{template "base" .}}

{{define "title"}}Stardew Tools{{end}}

{{define "content"}}
    <div class="container">
        <div id="write-here">

        </div>

        <h1>Bundle Items</h1>

        <div class="row mt-4">
            <div class="col">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Item</button>
            </div>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark">
                        Hello
                    </div>
                    <div class="modal-footer bg-dark">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <form action="" method="post" id="some-form"></form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <table class="table table-dark table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Item</th>
                        <th scope="col">Rarity</th>
                        <th scope="col">Bundle Name</th>
                    </tr>
                    </thead>
                    <tbody id="item-list">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        let table_item_list = document.getElementById('item-list')

        let form = document.getElementById("some-form")
        let form_data = new FormData(form)
        form_data.append("csrf_token", "{{.CSRFToken}}")

        fetch('stardew-json', {
            method: "post",
            body: form_data,
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                for (const index in data) {
                    let bundle_item = data[index]
                    table_item_list.innerHTML += `
                        <tr>
                            <td>${bundle_item.id}</td>
                            <td>${bundle_item.item_name}</td>
                            <td>${bundle_item.rarity}</td>
                            <td>${bundle_item.bundle_name}</td>
                        </tr>
                    `
                }
            })
    </script>
{{end}}